BeautifulSoup==3.2.1
beautifulsoup4==4.5.1
bs4==0.0.1
cffi==1.9.1
click==6.7
colorama==0.3.7
colorlog==2.10.0
crypto==1.4.1
cryptography==1.7
Django==1.10.5
enum34==1.1.6
Flask==0.12
google==1.9.3
idna==2.1
ipaddress==1.0.17
ipgetter==0.6
itsdangerous==0.24
Jinja2==2.9.4
MarkupSafe==0.23
mechanize==0.2.5
Naked==0.1.31
numpy==1.11.3
pandas==0.19.1
progress==1.2
pyasn1==0.1.9
pycparser==2.17
pypiwin32==219
python-dateutil==2.6.0
pytz==2016.10
PyYAML==3.12
requests==2.12.3
selenium==3.0.2
shellescape==3.4.1
six==1.10.0
virtualenv==15.1.0
Werkzeug==0.11.15
xlrd==1.0.0